* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);

  background-color: var(--backgrond);
}

header {
  display: flex;
  flex-direction: column;
}

header .header-top-mobile {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;

  border-bottom: 0.1rem solid var(--border-menu-mobile);
}

header .header-top-mobile .logo {
  cursor: pointer;
}

header .header-top-mobile .navigation {
  display: none;
}

header .header-top-mobile .menu-burguer {
  cursor: pointer;
}

header .text {
  max-width: 373px;
  height: 128px;

  font-weight: 600;
  font-size: 3rem;
  line-height: 4.1rem;
  text-align: center;
  letter-spacing: 0.02em;

  margin-block: 70px;
  margin-inline: auto;
}

header .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;

  width: 174px;
  height: 35px;

  border: 0.1rem solid var(--button);
  border-radius: 0.6rem;

  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  cursor: pointer;

  margin-inline: auto;
}

main {
  width: 95vw;

  display: flex;
  flex-direction: column;

  margin-inline: auto;
}

main .title {
  margin-top: 70px;
  margin-bottom: 25px;
}

main .title h2 {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 6.8rem;
  letter-spacing: -0.03em;
  text-align: center;
}

main .title h2:last-child {
  color: var(--backgrond);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

main .title h2:last-child::before {
  content: "<";
}

main .title h2:last-child::after {
  content: "/>";
}

main .image img {
  position: relative;
  height: 100%;
  width: 100%;
  top: 5px;
}

@media (min-width:360px) {
  main .title h2{
    font-size: 5rem;
  }
}